@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.body {
    background-image: url('/public/Picture2.jpg');
    
   
  }

.middle {
    background-image: url('/public/Picture4.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

  