@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



.body {
    background-image: url('C:\Users\73727\Desktop\EMS\frontend\public\Picture2.jpg');
   
  }

.middle {
    background-image: url('C:\Users\73727\Desktop\EMS\frontend\public\Picture4.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    
}

  